# Dependencies
node_modules/

# Build outputs
dist/
.next/
out/
build/

# drizzle
drizzle/

# Turbo
.turbo/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Test coverage
coverage/

# Docker volumes
docker/data/

# Drizzle
drizzle/meta/

# Misc
*.tsbuildinfo

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
